* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(229, 219, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(48, 29, 117);
  padding: 30px;
  color: #fff;
  margin-bottom: 20px;
}

header a {
  color: #fff;
  font-size: 2em;
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

header a:hover{
  background-color: rgb(188, 130, 243);
  border: 4px solid rgb(226, 223, 223);
}